/**
 * INDEX
 *
 *	0.1 theme stuff
 * 		0.1.1 content-title
 *
 * 	0.2 hidden (css class to hide elements)
 *
 * 	1.0 form container
 * 		1.0.1 form cover (glass)
 *
 * 	1.1 form element
 * 		1.1.1 font-size
 * 		1.1.2 border
 * 		1.1.3 focus
 *
 *	1.2 form title
 *
 *	1.3 buttons 
 *		1.3.1 inner container (grid)
 *		1.3.2 generic button
 *		1.3.2 submit
 *		1.3.3 next
 *
 * 	1.4 progress bar
 * 		1.4.1 container
 *   	1.4.2 element
 *   	1.4.3 text
 *   	1.4.4 bar (background)
 *   	1.4.5 value (colored)
 * 
 * 	2.0 form parts
 * 		2.1 container
 * 		2.1.1 generic part
 * 		2.1.2 part 1
 * 			2.1.2.1 css text
 * 			2.1.2.3 title
 * 			2.1.2.3 inner (grid)
 * 		2.1.3 part 2
 * 			2.1.3.1 css text
 * 		2.1.4 part 3
 * 			2.1.4.1 css text
 * 		2.1.5 part 4
 * 			2.1.5.1 css text
 * 		2.1.6 part 5
 * 			2.1.6.1 css text
 *
 * 		2.2 part title
 * 			2.2.1 container
 * 		 	2.2.2 title element
 *
 *		2.3 part animation
 *			2.3.1 element
 *			2.3.2 animation
 *
 *	3.0 generic part parts (of form)
 *		3.1 container
 *		3.2 title 
 *		3.3 input text
 *		3.4 input select
 *		3.5 input rang
 *		3.6 check input
 *			3.6.1 container
 *			3.6.2 input
 *			3.6.3 label
 *			3.6.3 span (text)
 *		3.7 help info
 *			3.7.1 help box (text)
 *			3.7.2 help icon
 *				3.7.2.1 hover
 *				3.7.2.2 text
 *		3.8 label
 *		3.9 checkbox (yes/no)
 *			3.9.1 container
 *			3.9.2 buttons
 *		 	3.9.3 green (chosen)
 *		3.10 marker (validation)
 *		3.11 error info
 *
 *	4.0 specific elements
 *		4.1 loan amount
 *		4.1.1 container
 *		4.1.2 input container
 *		4.1.3 validation marker (hidden)
 *		4.1.4 input text
 *		4.1.4 input range
 *			4.1.4.1 track
 *			4.1.4.2 thumb
 *			4.1.4.3 misc ie parts
 *	  	4.2 tenure
 *	  		4.2.1  container
 *	  		4.2.2 input select
 *	  		4.2.3 validation marker (hidden)
 *	  	4.3 refinancing (collect debt)
 *	  	4.4 mobile number (phone)
 *	  	4.5 email
 *	  	4.6 axo accept
 *	  	4.7 contact accept
 *	  	4.8 monthly cost
 *	  		4.8.1 container
 *	  		4.8.2 inner container
 *	  		4.8.3 input (disabled)
 *	  	4.9 neste button (first part button)
 *	  		4.9.1 container
 *	  		4.9.2 button
 *
 * 	5.0 popup window (on form post)
 * 		5.1 container
 * 		5.2 show container
 * 		5.3 animation
 * 		5.4 close button
 * 		5.5 text element
 * 		5.6 button ('ok')
 *
 *
 * 	10.0 sprites
 * 		10.1 container
 * 		10.2 inner container
 * 		10.3 animation
 * 		10.4 animation paused
 * 		10.5 sprite part element
 * 		10.6 sprite parts
 *
 * 	20.0 internet explorer
 *	  		
 */

/* 0.1 theme stuff */

/* 0.1.1 content-title 
   Hiding post title */
.content-title {
	display: none;
}

.content,
.page-container {
	/*background-color: #fc6;*/
}


/* 0.2 hidden */
.em-hidden {
	display: none !important;
}

/* 1.0 form container */
.em-form-container {

	/* for glass */
	position: relative;
}

/* 1.0.1 form cover */
.em-glass {
	display: none;

	position: absolute;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-color: white;
	opacity: .7;
	z-index: 99;
}

/* 1.1 form element */
.emowl-form {
	display: block;
	margin: auto;

	width: 35rem;
	max-width: 100%;

	padding-bottom: 2rem;

	background-color: hsl(240, 0%, 98%);
	
	user-select: none;


	border: solid 3px #fc6;
}

/* 1.1.1 font size */
.emowl-form,
.emowl-form button,
.emowl-form select,
.emowl-form input {
	font-size: 1.2rem;
}


/* 1.1.2 border */
.em-element-monthly_cost,
.em-r-loan_amount::-webkit-slider-thumb,
.em-element-contact_accept span::before,
.em-element-axo_accept span::before,
.em-progress,
.em-b-neste,
.em-b-next,
.em-b-submit,
.em-i,
.em-r {
	border: solid .5px hsl(0, 0%, 50%);
}

.em-cc-yes {
	border-right: solid .25px black;
}

.em-cc-no {
	border-left: solid .25px black;
}

/* 1.1.3 focus */
.em-b:focus,
.em-b-neste:focus,
.em-i:focus {
	box-shadow: 0 0 6px #96f;
	outline: none;
}

/* 1.2 form title */
.form-title {
	margin: 0;
}

/* 1.3 buttons */

/* 1.3.1 buttons inner container */
.em-b-inner {
	display: flex;
	justify-content: flex-end;
	margin: 2rem 3.5rem 0;
	/*display: grid;*/

	/*margin: 1rem 4rem 0;*/

	/*grid-template-columns: 2fr 1fr;*/
	/*grid-template-areas: "progress next";*/

	/*justify-content: space-between;*/
	/*align-self: flex-end;*/
}

/* 1.3.2 button */
.em-b {
	/*border: none;*/

	cursor: pointer;

	padding: .5rem;
	font-size: 2rem !important;
}


/* 1.3.3 submit button */
.em-b-submit {
	background-color: hsl(120, 50%, 60%);
	grid-area: next;
}

/* 1.3.4 next button */
.em-b-next {
	background-color: hsl(30, 90%, 60%);
	background-color: #FFCC66;
	grid-area: next;
}

/* 1.4 progress bar */

/* 1.4.1 progress container */
.em-progress-container {
	position: relative;
	grid-area: progress;
	align-self: center;
	max-width: 36.9rem;
}

/* 1.4.2 progress element */
.em-progress {
	width: 100%;
	appearance: none;
	/*border: none;*/
	background-color: white;
	/*height: 7rem;*/
}

/* 1.4.3 progress text */
.em-progress-text {
	position: absolute;
	top: 1.4rem;
	right: 2rem;
	font-size: 3rem;
}

/* 1.4.4 progress bar*/
.em-progress::-webkit-progress-bar {
	background-color: whiteSmoke;
}

/* 1.4.5 progress value */
.em-progress::-webkit-progress-value {
	border-right: solid 1px black;
	background-image:
		-webkit-linear-gradient( 135deg,
								 transparent,
								 transparent 33%,
								 rgba(0,0,0,.1) 33%,
								 rgba(0,0,0,.1) 66%,
								 transparent 66%),
    	-webkit-linear-gradient( top,
								 rgba(255, 255, 255, .25),
								 rgba(0,0,0,.2)),
    	/*-webkit-linear-gradient( left, #fc6, #fc6);	*/
    	/*-webkit-linear-gradient( left, #96f, #fc6);	*/
    	-webkit-linear-gradient( left, #96f, #96f);	
    	/*-webkit-linear-gradient( left, #09c, #4f4);	*/

}

/* 2.0 form parts */

/* 2.1 part container */
.em-part-container {
/*	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		"first first"
		"second third"
		"fourth fifth";*/
}

/* 2.1.1 generic */
.em-part {
	display: none;
	margin-top: 2rem;
}

/* 2.1.2 part 1*/
.em-part-1 {
	grid-area: first;
	display: block;

	margin-top: 0;
}

/* 2.1.2.1 text */
.em-part-1 .em-part-title::after {
	content: 'Sjekk dine lånetilbud';
}

/* 2.1.2.3 part 1 title */
.em-part-1 .em-part-title {
	/*display: none;*/
}

/* 2.1.2.4 part 1 inner */
.em-part-1-grid {
	/*display: grid;

	grid-template-columns: 1fr 1fr;

	grid-template-areas: 
	"monthly monthly"
	"loan loan"
	"neste neste"
	"refinancing tenure"
	"mobile email"
	"axoaccept axoaccept"
	"contactaccept contactaccept";

	justify-content: space-between;
	align-items: stretch;
	grid-column-gap: 1rem;*/
}

/* 2.1.3 part 2*/
.em-part-2 {
	grid-area: second;
}

/* 2.1.3.1 text */
.em-part-2 .em-part-title::after {
	content: 'Om deg';
}

/* 2.1.4 part 3*/
.em-part-3 {
	grid-area: third;
}

/* 2.1.4.1 text */
.em-part-3 .em-part-title::after {
	content: 'Søke sammen?';
}

/* 2.1.5 part 4*/
.em-part-4 {
	grid-area: fourth;
}

/* 2.1.5.1 text */
.em-part-4 .em-part-title::after {
	content: 'Ditt boforhold';
}

/* 2.1.6 part 5*/
.em-part-5 {
	grid-area: fifth;
}

/* 2.1.6.1 text */
.em-part-5 .em-part-title::after {
	content: 'Siste etappe';
}

/* 2.2 part title */

/* 2.2.1 title container */
.em-part-title-container {
	overflow: hidden;
}

/* 2.2.2 title element */
.em-part-title {
	text-align: center;
	margin: 0;
	margin-bottom: 1rem;
	padding: .5rem 0;
	background-color: #fc6;
	font-size: 1.6rem;
}



/* 2.3 part animation */

/* 2.3.1 element */
.em-animate-show {
	display: block;

	animation-name: show;
	animation-duration: 1s;
}

/* 2.3.2 animation */
@keyframes show {
	from { opacity: 0; }
	to { opacity: 1; }
}

/* 3.0 generic form parts parts */

/* 3.1 container */
.em-element-container {
	position: relative;

	/*display: flex;*/
	/*align-content: center;*/

	/*margin-bottom: 1rem;*/
	padding: .5rem;
	/*margin: 0 0 1rem 1rem;*/
	/*margin: 0 4rem;*/
	/*padding: .5rem 0;*/
}

/*.em-element-container:nth-child(odd) {
	background-color: red;
}	*/

/* 3.2 title */
.em-it {
	margin: 0;
	/*margin-right: 1rem;*/
	white-space: nowrap;
	overflow: hidden;
}

/* 3.3 text input */
.em-i {
	/*padding: 1rem 0 1rem 1rem;*/
	padding: .5rem;
	z-index: 20;
	width: 80%;
	margin-left: 1rem;
}

/* 3.3.1 text input container */
.em-lc,
.em-ic {
	display: grid;
	grid-template-columns: 2fr 3fr;
	/*display: flex;*/
	/*align-content: center;*/
}

/* 3.4 select input */
.em-lc .em-i {
	appearance: none;
	-webkit-appearance: none;
	padding-left: 1rem;
}

/* 3.5 range input */
.em-r {
	position: relative;
	bottom: 1.7rem;
	right: 0.2rem;
	
	-webkit-appearance: none;
	background: none;
	outline: none;

	background-color: hsla(120, 100%, 20%, .2);

	cursor: grab;
}

/* 3.6 check input */

/* 3.6.1 check container */
.em-element-check {
	font-size: 1.4rem;
	margin: 1rem 0;
}

/* 3.6.2 check input */
.em-check {
	width: auto;
	height: 2rem;
	width: 2rem;

	position: relative;
	top: .5rem;
	/*display: none;*/
}

/* 3.6.3 check label */
/*.em-element-check label {
	position: relative;
	left: 3.5rem;
}*/

/* 3.6.4 check text */
/*.em-check:checked + label span::before {
	background-color: green;
}
.em-element-check span::before {
	content: '';

	position: absolute;
	left: -35px;

	height: 1.5rem;
	width: 1.5rem;
}*/

/* 3.7 help info */

/* 3.7.1 help box */
.em-ht {
	display: flex;
	align-items: center;

	position: absolute;
	top: 2.8rem;
	right: -18.9rem;

	width: 20rem;

	padding: .5rem;

	background-color: hsl(120, 100%, 99%);
	border: solid 1px hsl(0, 0%, 70%);

	font-size: 1.4rem;
	line-height: 1;
	z-index: 99;
}

/* 3.7.2 help icon */
.em-ht-q {
	position: absolute;
	right: .5rem;
	top: .7rem;

	width: 2rem;
	height: 2rem;

	/*border-radius: 25px;*/
	border: solid 1px gray;

	background-color: transparent;

	font-weight: 400;
	text-align: center;
	line-height: 2rem;
	cursor: pointer;
}

/* 3.7.2.1 icon hover */
.em-ht-q:hover {
	background-color: hsl(0, 0%, 90%);
}

/* 2.7.2.2 help icon text */
.em-ht-q > span {
	position: relative;
	bottom: .2rem;
	right: .1rem;

	font-size: 1.6rem;
}

.em-element-loan_amount .em-ht-q {
	top: 0;
}

/* 3.8 label */
.em-label {
	cursor: pointer;
	overflow: hidden;
	/*width: 15rem;*/
}

/* 3.9 checkbox */

/* 3.9.1 checkbox container */
.em-cc-selector {
	display: inline-flex;

	width: 84%;
	/*margin-left: 1rem;*/
}

/* 3.9.2 checkbox buttons */
.em-cc-yes,
.em-cc-no {
	flex: 1;
	text-align: center;
	background-color: hsl(120, 0%, 90%);

	cursor: pointer;
	width: auto;
	padding: .5rem 1rem;
}

.em-cc-no {
	margin-left: 0;
}

/* 3.9.3 checkbox selected */
.em-cc-green {
	background-color: hsl(120, 80%, 60%);
	background-color: #fc6;
}

/* 3.9.4 */
.em-cc {
	display: grid;
	grid-template-columns: 2fr 3fr;
	width: 100%;
}


/* 3.10 validation marker */
.em-marker-val {
	position: absolute;
	right: 3.6rem;
	top: .6rem;
	z-index: 50;
}

/* 3.11 error info */
.em-error {
	background-color: hsl(0, 50%, 90%);
	padding: .5rem;
	font-size: 1.4rem;
	margin-top: .5rem;
	margin-bottom: 1rem;
	grid-column: 1 / span 2;
}

/* 4.0 specific elements */

/* 4.1 loan amount */

/* 4.1.1 loan amount container */
.em-element-loan_amount {
	/*grid-area: loan;*/

	/*display: flex;*/

	/*align-items: flex-end;*/
}

/* 4.1.2 loan amount input container */
.em-ic-loan_amount {
	display: block !important;
/*	display: flex;
	align-content: center;*/
	/*flex-grow: 1;*/
	/*flex-basis: 0;*/
	/*margin-right: 1rem;*/
	box-sizing: border-box;
}

/* 4.1.3 loan amount validation marker */
.em-ic-loan_amount .em-marker-val {
	display: none;
	box-sizing: border-box;
}


/* 4.1.4 loan amount input */
.em-i-loan_amount {
	text-align: center;
	font-family: impact;
	font-size: 3rem !important;
	width: 100%;
	padding: .5rem 0;
	box-sizing: border-box;
	margin: 0;
}

/* 4.1.5 loan amount range input */
.em-r-loan_amount {
	/*flex-grow: 1;*/
	/*flex-basis: 0;*/

	/*position: relative;*/
	/*top: 0;*/
	width: 100%;
	/*margin: 0;*/
    -webkit-appearance: none;
    position: relative;
    /*overflow: hidden;*/
    height: 1rem;
    cursor: pointer;
    border-radius: 0; /* iOS */
    margin-top: 3rem;
    border: none;
    background-color: transparent;
}

/* 4.1.4.1 loan amount range track */
.em-r-loan_amount::-webkit-slider-runnable-track {
	height: .2rem;
    background: hsl(0, 0%, 90%);
    outline: solid 1px hsl(0, 0%, 70%);
}
.em-r-loan_amount::-moz-range-track {
    height: 40px;
    background: #ddd;
}
.em-r-loan_amount::-ms-track { 
    background: #ddd;
    color: transparent;
    height: 48px;
    border: none;
}

/* 4.1.4.2 loan amount range thumb*/
.em-r-loan_amount::-webkit-slider-thumb {
  	-webkit-appearance: none;
  	position: relative;
  	bottom: 9px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 25px;
    /*background-image: url('/wp/wp-content/plugins/EM-axowl/assets/img/piler.png');*/
    /*background-image: url('https://norskfinans.no/wp-content/uploads/2019/02/piler.png');*/
    /*background-repeat: no-repeat;*/
    /*background-position: center; */
    /*box-shadow: -100vw 0 0 100vw hsl(120, 80%, 60%);*/
}
.em-r-loan_amount::-moz-range-thumb {
    background: #fff;
    height: 48px;
    width: 40px;
    border: 1px solid #999;
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw dodgerblue;
    box-sizing: border-box;
}
.em-r-loan_amount::-ms-thumb { 
    background: #fff;
    border: 1px solid #999;
    height: 48px;
    width: 40px;
    box-sizing: border-box;
    background-image: url('https://norskfinans.no/wp-content/uploads/2019/02/piler.png');
    background-repeat: no-repeat;
    background-position: center; 
}

/* 4.1.4.3 misc IE parts */
.em-r-loan_amount::-ms-fill-lower { 
    background: hsl(120, 80%, 60%);
}


.em-r-loan_amount::-ms-ticks-after { 
    display: none; 
}

.em-r-loan_amount::-ms-ticks-before { 
    display: none; 
}


.em-r-loan_amount::-ms-tooltip { 
    display: none;
}


/* 4.2 tenure */

/* 4.2.1 tenure container */
.em-element-tenure {
	grid-area: tenure;
}

/* 4.2.2 tenure input */
.em-i-tenure {
	text-align: center;
}

/* 4.2.3 tenure validation marker */
.em-ic-tenure > .em-val-marker {
	display: none;
}


/* 4.3 refinancing / collect debt */
.em-element-collect_debt {
	grid-area: refinancing;
}

/* 4.4 mobile number */
.em-element-mobile_number {
	grid-area: mobile;
}

/* 4.5 email */
.em-element-email {
	grid-area: email;
}

/* 4.6 axo accept */
.em-element-axo_accept {
	grid-area: axoaccept;
	padding-bottom: 0;
	margin-bottom: 0;
}

/* 4.7 contact accept */
.em-element-contact_accept {
	grid-area: contactaccept;
}

/* 4.8 monthly cost */

/* 4.8.1 monthly cost container */
.em-element-monthly_cost {
	grid-area: monthly;

	justify-self: center;

	margin-top: 1rem;
	padding: 0 1rem;
	background-color: transparent;
	border: none;
}

/* 4.8.2 monthly cost inner container */
.em-container-monthly_cost {
	position: relative;
	top: 1px;
	font-size: 2rem;
}

/* 4.8.3 monthly cost input */
.em-if-monthly_cost {
	border: none;
	background-color: transparent;
	color: black;
	text-align: right;
	padding-left: 5px;
	width: 9.8rem;

	font-weight: 700;
	font-size: 2.2rem !important;
}


/* 4.9 neste button */

/* 4.9.1 neste container */
.em-element-neste {
	grid-area: neste;
	text-align: center;
}

/* 4.9.2 neste button */
.em-b-neste {
	/*border: none;*/

	padding: .5rem 1rem;

	font-size: 3rem !important;
	cursor: pointer;
	background-color: #fc6;
}


.em-element-norwegian,
.em-element-employment_type {
	background-color: hsl(240, 50%, 95%);
}

/* 5.0 popup window */

/* 5.1 popup container */
.em-popup {
	display: none;

	grid-template-columns: 1fr auto;
	grid-template-rows: auto 1fr auto;

	grid-template-areas: 
		"title x"
		"content content"
		"button button";

	border: double 4px hsl(0, 0%, 50%);

	background-color: hsl(120, 80%, 95%);
	z-index: 999;
}

/* 5.2 popup show */
.em-popup-show {
	display: grid;

	animation-name: popup;
	animation-duration: .5s;
}

/* 5.3 popup animation */
@keyframes popup {
	from { opacity: 0; }
	to { opacity: 1; }
}

/* 5.3 popup title */
.em-popup-title {
	grid-area: title;
}

/* 5.4 popup close button */
.em-popup-x {
	grid-area: x;

	background-color: transparent;

	align-self: flex-start;

	margin: 1rem 1rem 0 0;

	border: none;
	cursor: pointer;
}
.em-popup-x::after {
	content: 'X';
	font-size: 2rem;
}
.em-popup-x:hover {
	font-weight: 700;
}

/* 5.5 popup text */
.em-popup-content {
	grid-area: content;

}

/* 5.6 popup button */
.em-popup-button {
	grid-area: button;

	justify-self: center;

	background-color: transparent;
	border: none;
	font-size: 3rem;
	cursor: pointer;
}




/* 10.0 sprites */

/* 10.1 sprites container */
.em-sprites {
	overflow: hidden;
}

/* 10.2 sprites inner container */
.em-sprite-container {
	display: flex;
	position: relative;

	align-items: center;
}

/* 10.3 sprites animation */
.em-sprite-container-animation {
	animation-name: spriteslide;
	animation-duration: 25s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;

	cursor: pointer;
}
@keyframes spriteslide {
	from { left: 0; }
	to { left: -1630px; }
}

/* 10.4 sprites paused */
.em-sprite-container-animation-paused {
  animation-play-state: paused;
}

/* 10.5 sprite part element */
.em-sprite {
    background-repeat: no-repeat;
    /*background-image: url('/wp/wp-content/plugins/EM-axowl/assets/img/banklogoer.png');*/
    background-image: url('https://norskfinans.no/wp-content/uploads/2019/02/banklogoer.png');
    flex: 0 0 auto;
    margin-right: 3rem;
}

/* 10.6 sprite parts */
.sprite-bank-norwegian {
    background-position: -263px 0;
    width: 184px;
    height: 60px
}
.sprite-bluestep {
    background-position: 10px 0;
    width: 148px;
    height: 60px
}
.sprite-dnb {
    background-position: -140px 0;
    width: 118px;
    height: 60px
}
.sprite-easybank {
    background-position: -2px -120px;
    width: 210px;
    height: 60px
}
.sprite-komplett-bank {
    background-position: -289px -120px;
    width: 228px;
    height: 57px
}
.sprite-nordax {
    background-position: 0 -65px;
    width: 246px;
    height: 59px
}
.sprite-resurs-bank {
    background-position: -260px -60px;
    width: 114px;
    height: 60px
}
.sprite-santander-consumer-bank {
    background-position: -374px -60px;
    width: 175px;
    height: 60px
}
.sprite-ya-bank {
    background-position: -222px -120px;
    width: 63px;
    height: 60px
}
.sprite-gjensidige {
    background-position: 0 -179px;
    width: 184px;
    height: 60px
}
.sprite-expressbank {
    background-position: -209px -179px;
    width: 138px;
    height: 60px
}
.sprite-bnbank {
    background-position: -376px -179px;
    width: 91px;
    height: 60px
}
.sprite-remember {
    background-position: 0 -238px;
    width: 154px;
    height: 60px
}
.sprite-nystart-bank {
    background-position: -185px -280px;
    width: 100px;
    height: 60px
}
.sprite-monobank {
    background-position: -14px -286px;
    width: 125px;
    height: 58px
}
.sprite-thorn {
    background-position: -170px -231px;
    width: 136px;
    height: 57px
}
.sprite-optinbank {
    background-position: -325px -240px;
    width: 154px;
    height: 50px
}

/* 20.0 INTERNET EXPLORER GRIDS AND OTHERWISE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

	.em-part-container {
		display: -ms-grid;

		-ms-grid-columns: 1fr 1fr;
		-ms-grid-rows: auto auto auto auto auto;
	}

	.em-part-1 {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
		-ms-grid-column-span: 2;
	}

	.em-part-2 {
		-ms-grid-row: 2;
		-ms-grid-column: 1;
	}

	.em-part-3 {
		-ms-grid-row: 2;
		-ms-grid-column: 2;
	}

	.em-part-4 {
		-ms-grid-row: 3;
		-ms-grid-column: 1;
	}

	.em-part-5 {
		-ms-grid-row: 3;
		-ms-grid-column: 2;
	}

	.em-part-1-grid {
		display: -ms-grid;

		-ms-grid-columns: 1fr 1fr;
		-ms-grid-rows: auto auto auto auto auto auto auto;
	}

	.em-element-loan_amount {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
		-ms-grid-column-span: 2;
	}

	.em-r-loan_amount {
		position: relative;
		top: 3.2rem;
	}

	.em-element-monthly_cost {
		-ms-grid-row: 2;
		-ms-grid-column: 1;
		-ms-grid-column-span: 2;
	}

	.em-element-neste {
		-ms-grid-row: 3;
		-ms-grid-column: 1;
		-ms-grid-column-span: 2;

		text-align: center;
	}

	.em-element-tenure {
		-ms-grid-row: 4;
		-ms-grid-column: 1;
	}

	.em-element-collect_debt {
		-ms-grid-row: 4;
		-ms-grid-column: 2;
	}

	.em-element-mobile_number {
		-ms-grid-row: 5;
		-ms-grid-column: 1;
	}

	.em-element-email {
		-ms-grid-row: 5;
		-ms-grid-column: 2;
	}

	.em-element-axo_accept {
		-ms-grid-row: 6;
		-ms-grid-column: 1;
		-ms-grid-column-span: 2;
	}

	.em-element-contact_accept {
		-ms-grid-row: 7;
		-ms-grid-column: 1;
		-ms-grid-column-span: 2;
	}


	.em-b-inner {
		display: -ms-grid;
		-ms-grid-columns: 2fr 1fr;
	}

	.em-progress-container {
		-ms-grid-column: 1;
		height: 2.1rem;
	}

	.em-b-submit,
	.em-b-next {
		-ms-grid-column: 2;
	}

	.em-r {
		height: auto;
		background-color: transparent;
	}

	.em-ht-q > span {
		position: relative;
		bottom: .1rem;
		right: .3rem;

		font-size: 1.6rem;
	}
}