/**
 *
 *	1.0 elements
 *		1.1 form
 *		1.2 misc
 *			1.2.1 hidden elements
 *			1.2.2 font size
 *			
 *		1.3 generic
 *			1.3.1 element container
 *			1.3.2 label
 *				1.3.2.1 input title
 *				1.3.2.2 helper text marker
 *			1.3.3 input container
 *			1.3.4 range
 *			1.3.5 checkbox (2 buttons, 1 hidden input)
 *				1.3.5.2 yes button
 *				1.3.5.3 no button
 *				1.3.5.4 selected button
 *			1.3.6 list
 *			1.3.7 check (single checkbox)
 *			
 *  	1.4 bottom container
 *   		1.4.1 back/next buttons (hidden)
 *   	 		1.4.1.1 submit button
 *   	 	1.4.2 progress bar (fixed position)
 */


.content-title {
	display: none;
}

/* 1.0 elements */

/* 1.1 form */
.emowl-form {
	border: solid 4px #9966FF;
	/*border: solid 2px #cf9;*/
	margin: 0 -1rem;
	/*padding: 0 2rem;*/
}


/* 1.2 misc */

/* 1.2.1 hidden */
.em-hidden {
	display: none;
}

/* 1.2.2 font size */
.emowl-form,
.em-if,
.em-i {
	font-size: 1.6rem;
}

.em-part-1 .em-part-title::after {
	content: 'Sjekk dine lånetilbud';
}

.em-part-2 .em-part-title::after {
	content: 'Om deg';
}

.em-part-3 .em-part-title::after {
	content: 'Søke sammen?';
}

.em-part-4 .em-part-title::after {
	content: 'Ditt boforhold';
}

.em-part-5 .em-part-title::after {
	content: 'Siste etappe';
}

/* 1.3 generic */

/* 1.3.0.1 parts */
.em-part {
	display: none;
}

.em-part-1 {
	display: block;
}

.em-part-title {
	background-color: #96f;
	margin-top: 4rem;

	padding: 1rem;
	color: white;
	text-shadow: 0 0 3px black;
}

.em-part-1 .em-part-title {
	margin-top: 0;
}

/* 1.3.1 element */
.em-element-container {
	position: relative;
	/*margin-bottom: 3rem;*/
	margin: 2rem;
}

/* 1.3.2 label */
.em-label {
	display: flex;
}

/* 1.3.2.1 input title */
.em-it {
	margin: 0;
	margin-right: auto;
}

/* 1.3.2.2 helper text marker */
.em-ht-q {
	align-self: center;


	/*content: '?';*/
	position: absolute;
	right: 0;
	top: -.1rem;
	/*top: 1rem;*/
	/*top: 13px;*/

	font-weight: 400;
	/*font-size: 1.4rem;*/

	width: 2rem;
	height: 2rem;

	border-radius: 25px;
	border: solid 1px gray;

	background-color: transparent;

	text-align: center;
	line-height: 2rem;
	cursor: pointer;
}

.em-error {
	background-color: hsl(0, 50%, 90%);
	padding: .5rem;
	font-size: 1.4rem;
	margin-top: .5rem;
}

/* 1.3.3 input container */
.em-i {
	width: 100%;

	padding: 1rem 0;
	text-align: center;	
	border: solid 1px hsl(0, 0%, 70%);
	box-shadow: 0 0 0 transparent, inset 0 1px 1px #d4d4d4;
}

/* 1.3.4 range input */
.em-r {
	width: 100%;
}


/* 1.3.5 checkbox */

/* 1.3.5.1 */
.em-cc-selector {
	display: flex;
}

.em-cc-yes,
.em-cc-no {
	border: none;
	/*border: solid 1px hsl(0, 0%, 70%);*/
	/*text-align: center;*/
	background-color: hsl(0, 10%, 90%);
	font-size: 2rem;
	cursor: pointer;
	padding: 1rem 0;
}

/* 1.3.5.2 yes button */
.em-cc-yes {
/*	border-right: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;*/
}

/* 1.3.5.3 no button */
.em-cc-no {
	/*border-top-left-radius: 0;*/
	/*border-bottom-left-radius: 0;*/
}


/* 1.3.5.4 selected button */
.em-cc-green {
	/*background-color: hsl(120, 60%, 60%);*/
	background-color: #fc6;
}


/* 1.3.6 list */
select.em-i {
	background-color: white;
}

/* 1.3.7 check */

.em-element-check {
	display: flex;

	font-size: 1.4rem;
}

.em-check {
	position: relative;
	top: .2rem;
	margin-right: 1rem;
	margin-left: 1rem;
	width: auto;

}


/* 1.4 bottom container */
.em-b-inner {
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-template-areas: "progress next";
	/*flex-direction: row-reverse;*/
}

/* 1.4.1 next/back button */
.em-b-container {
	margin: 2rem;
}
.em-b-submit,
.em-b-back,
.em-b-next {
	/*display: none;*/
	grid-area: next;
	border: none;
	border-radius: 3px;
	background-color: transparent;

	font-size: 2.4rem;
	padding: 1rem 2rem;
}


/* 1.4.1.1 submit button */
.em-b-submit {
	/*display: block;*/

	background-color: hsl(150, 70%, 80%);

	/*font-size: 3rem;*/
	/*border: none;*/
	/*border-radius: 3px;*/

	/*margin-left: auto;*/

}

/* 1.4.1.2 */
.em-b-next {
	/*background-color: hsl(30, 100%, 50%);*/
	background-color: #fc6;

	/*margin-left: auto;*/
}

.em-b-back {
	background-color: hsl(90, 100%, 50%);
	margin-right: auto;
}

/* 1.4.2 progress bar */
.em-progress-container {
	grid-area: progress;
	position: relative;
	/*top: -.3rem;*/
	/*left: 0;*/
	/*border: none;*/
	/*position: relative;*/
	/*grid-area: progress;*/
	/*align-self: center;*/
	/*justify-self: center;*/
	/*width: 100%;*/
}

.em-progress {
	/*position: fixed;*/
	/*top: 0;*/
	/*left: 0;*/
	width: 90%;
	height: 100%;
	appearance: none;
	border: none;
	background-color: white;
}

.em-progress-text {
	position: absolute;

	font-size: 3rem;
	right: 3rem;
	top: 0rem;
}

.em-progress::-webkit-progress-bar {
	background-color: whiteSmoke;
	/*border-bottom: solid 1px hsl(0, 0%, 20%);*/
}

.em-progress::-webkit-progress-value {
	/*background-color: orange;*/
	border-right: solid 1px black;
	background-image:
		-webkit-linear-gradient( 135deg,
								 transparent,
								 transparent 33%,
								 rgba(0,0,0,.1) 33%,
								 rgba(0,0,0,.1) 66%,
								 transparent 66%),
	    -webkit-linear-gradient( top,
								 rgba(255, 255, 255, .25),
								 rgba(0,0,0,.2)),
	    /*-webkit-linear-gradient( left, #09c, #4f4);*/
    	-webkit-linear-gradient( left, #96f, #96f);	
	    
}
.em-element-neste {
	/*grid-area: neste;*/
	/*justify-self: center;*/
	display: flex;
	justify-content: center;
}

.em-b-neste {
	border: none;

	padding: .5rem 1rem;

	font-size: 2.4rem !important;

	border: solid 1px black;

	/*background-color: hsl(30, 100%, 50%);*/
	/*background-color: #96F;*/
	background-color: #fc6;
	/*border-radius: 5px;*/
	/*color: white;*/
}
/* 2.0 specific elements */

/**/
.em-i-loan_amount {
	font-family: impact;
	font-size: 2.4rem;
}
/* 2.1.3 loan amount range input */
.em-r-loan_amount {
	/*width: 100% !important;*/
	/*flex-grow: 1;
	flex-basis: 0;*/
	/*margin-left: 1rem;*/

	/*position: relative;*/

	/*margin-top: 1rem;*/

	/*border: solid 1px transparent;*/
	margin-top: 1rem;
	/*margin: auto;*/
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 40px;
    /*width: 200px;*/
    cursor: pointer;
    border-radius: 0; /* iOS */
}

.em-r-loan_amount::-webkit-slider-runnable-track {
    background: #ddd;
}


.em-r-loan_amount::-webkit-slider-thumb {

  	-webkit-appearance: none;
    width: 40px; /* 1 */
    height: 40px;
    background: #fff;
    /*background-image: url('/wp/wp-content/plugins/EM-axowl/assets/img/piler.png');*/
    background-image: url('https://norskfinans.no/wp-content/uploads/2019/02/piler.png');
    background-repeat: no-repeat;
    background-position: center; 
    /*box-shadow: -100vw 0 0 100vw hsl(120, 50%, 40%);*/
    box-shadow: -100vw 0 0 100vw #FC6;
    box-shadow: -100vw 0 0 100vw hsl(120, 80%, 60%);
    border: 1px solid black; 
    /* 1 */
}

.em-r-loan_amount::-moz-range-track {
    height: 40px;
    background: #ddd;
}

.em-r-loan_amount::-moz-range-thumb {
    background: #fff;
    height: 40px;
    width: 20px;
    border: 3px solid #999;
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw dodgerblue;
    box-sizing: border-box;
}

.em-r-loan_amount::-ms-fill-lower { 
    background: dodgerblue;
}

.em-r-loan_amount::-ms-thumb { 
    background: #fff;
    border: 2px solid #999;
    height: 40px;
    width: 20px;
    box-sizing: border-box;
}

.em-r-loan_amount::-ms-ticks-after { 
    display: none; 
}

.em-r-loan_amount::-ms-ticks-before { 
    display: none; 
}

.em-r-loan_amount::-ms-track { 
    background: #ddd;
    color: transparent;
    height: 40px;
    border: none;
}

.em-r-loan_amount::-ms-tooltip { 
    display: none;
}

.em-if-monthly_cost {
	margin-left: 1rem;
	width: 7rem;

	background-color: transparent;
	border: none;
	color: #000;
	font-weight: 700;
}

.em-element-axo_accept {
	margin-bottom: 1rem;
}

.em-marker-val {
	/*content: '';*/
	color: green;
	position: absolute;
	/*font-size: 2.4rem;*/
	right: .2rem;
	top: 2.2rem;
	z-index: 50;
	/*border: solid 1px green;*/

	height: 2.8rem;
	width: 2.8rem;

	opacity: .5;
}

.em-popup {
	display: none;
}

/*
.em-element-tenure,
.em-element-collect_debt,
.em-element-axo_accept,
.em-element-contact_accept,
.em-element-mobile_number,
.em-b-container,
.em-element-email {
	display: none;
}*/

.em-show {
	display: block;
}


/* 40.0 sprites */
.em-sprites {
	overflow: hidden;
}

.em-sprite-container {
	display: flex;
	position: relative;
	/*animation-fill-mode: forwards;*/
}



.em-sprite-container-animation {
	/*overflow: hidden;*/
	/*flex-wrap: wrap*/
	animation-name: spriteslide;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;

	cursor: pointer;
}

.em-sprite-container-animation-paused {
  animation-play-state: paused;
}

@keyframes spriteslide {
	from { left: 0; }
	to { left: -1220px; }
}

.em-sprite {
    background-repeat: no-repeat;
    /*display: block;*/
    /*border: solid 1px black;*/
    /*background-image: url('/wp/wp-content/plugins/EM-axowl/assets/img/banklogoer.png');*/
    background-image: url('https://norskfinans.no/wp-content/uploads/2019/02/banklogoer.png');
    flex: 0 0 auto;
    margin-right: 3rem;
}


.sprite-bank-norwegian {
    background-position: -263px 0;
    width: 184px;
    height: 60px
}

.sprite-bluestep {
    background-position: 10px 0;
    width: 148px;
    height: 60px
}

.sprite-dnb {
    background-position: -140px 0;
    width: 118px;
    height: 60px
}

.sprite-easybank {
    background-position: -2px -120px;
    width: 210px;
    height: 60px
}

.sprite-komplett-bank {
    background-position: -289px -120px;
    width: 228px;
    height: 57px
}

.sprite-nordax {
    background-position: 0 -60px;
    width: 246px;
    height: 59px
}

.sprite-resurs-bank {
    background-position: -260px -60px;
    width: 114px;
    height: 60px
}

.sprite-santander-consumer-bank {
    background-position: -374px -60px;
    width: 175px;
    height: 60px
}

.sprite-ya-bank {
    background-position: -222px -120px;
    width: 63px;
    height: 60px
}

.sprite-gjensidige {
    background-position: 0 -179px;
    width: 184px;
    height: 60px
}

.sprite-expressbank {
    background-position: -209px -179px;
    width: 138px;
    height: 60px
}

.sprite-bnbank {
    background-position: -376px -179px;
    width: 91px;
    height: 60px
}

.sprite-remember {
    background-position: 0 -238px;
    width: 154px;
    height: 60px
}

.sprite-nystart-bank {
    background-position: -190px -280px;
    width: 100px;
    height: 50px
}

.sprite-monobank {
    background-position: -14px -292px;
    width: 125px;
    height: 58px
}

.sprite-thorn {
    background-position: -187px -231px;
    width: 136px;
    height: 57px
}

.sprite-optinbank {
    background-position: -330px -240px;
    width: 154px;
    height: 60px
}